/* Slideshow.css */

body {
  margin: 0;
}
/* HomePage.css */

.slideshow-container {
  position: relative;
}

.slide {
  z-index: -1;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 1s ease-in-out;
}

.slide.fade-in {
  opacity: 1;
}

.slide.fade-out {
  opacity: 0;
}

.text span {
  display: inline-block;
  opacity: 0;
  transform: translateY(1em);
  animation: appear 0.5s forwards;
}

@keyframes appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 768px) {
  .text {
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
  }
}
