body {
  align-items: center;
  text-align: center;
}

.active {
  color: red; /* Change the color to your preferred active link style */
  font-weight: bold;
}

/* Change link color on hover */

/* Styles for Container */
.container {
  width: 90%; /* Set container width */
  margin: 0 auto; /* Center the container horizontally */
  padding: 30px; /* Add padding inside the container */
  background-color: #f0f0f0; /* Background color */
}

.subContainer {
  height: fit-content;
  grid-template-columns: auto auto auto;
  width: 100%;
  position: relative;
  display: flex;
}

.info {
  width: 300px;
  height: 200px;
  display: grid;
  position: static;
}

/* Responsive design for phones */
@media (max-width: 767px) {
  .NavBar {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .NavBar a {
    margin: 0 10px; /* Adjust spacing between links for smaller screens */
  }

  .Container {
    width: 100%; /* Set container width to full width for phones */
  }
}

/* Responsive design for tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .Container {
    width: 90%; /* Set container width to 90% for tablets */
  }
}

/* Responsive design for desktops */
@media (min-width: 1024px) {
  /* Add any additional desktop-specific styles here */
  .navItems {
    margin-right: "10px";
    position: "relative";
    display: contents;
  }
}

.footer {
  background-color: aquamarine;
  width: 100%;
  height: 200px;
  padding: 25px;
  margin-bottom: 20px;
  margin-top: auto;
}
